body {
    font-family:'Manrope'
}

li {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    color: white;
    letter-spacing: -0.03em;
}

.General {
    width: 1150px;
    height: 650px;
    margin-left: 125px;
    margin-top: 128px;
    margin-bottom: 150px;
}

.title {
    width: 956px;
    height: 120px;
    margin-bottom: 30px;
}

.titleimg {
    position: absolute;
    width: 1150px;
    height: 500px;
    background-image: url(../res/greetings_image.png);
    background-size: contain;
}

.titleimgtxt {
    position: relative;
    width: 430px;
    height: 81px;
    color: white;
    top: 379px;
    left: 40px;

}

.review {
    width: 1051;
    height: 518px;
    margin-left: 125px;
    margin-bottom: 227px;
}

.reviewtxt {
    width: 1048px;
    height: 366px;
    margin-left: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    display: block;
    border: 1px solid #AD1818;
    text-align: center;
    cursor: default;
    color: white;
    text-decoration: none;
    background-color: #AD1818;
    border-radius: 5px;
    width: 255px;
    height: 67px;
    line-height: 67px;
}

.services {
    width: 1150px;
    height: 2122px;
    margin-left: 125px;
}

.project__list__review {
    width: 1150px;
    height: 548px;
    padding-top: 30px;
}

.project__list__review :first-child{
    margin-top: 0px;    
}

.project__img {
    margin-top: 90px;
    width: 1150px;
    height: 450px;
    padding-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;
}

.project__lnk {
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
    width: 127px;
    height: 27;
}

a1 {
    font-family: 'Manrope';
    text-align: center;
    text-decoration: none;
    margin-top: 90px;
    display: block;
    line-height: 153px;
    width: 1150px;
    height: 153px;
    border: 1px solid #AD1818;
    font-weight: 400;
    font-size: 30px;
    cursor: default;
    border-radius: 5px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

a1:hover {
    background-color: #AD1818;
    color: white;
}

.service-price {
    width: 1400px;
    height: 1844px;
    background-color: black;
}

.servreview {
    width: 66px;
    height: 25px;
    padding-top: 150px;
    margin-left: 125px;
}

.service_list {
    width: 1150px;
    height: 326px;
    margin-top: 60px;
}

.service__img :first-child{
    margin-top: 34px;
}

.service_list :nth-last-child(4)

.services_list {
    width: 1150px;
    height: 326px;
    margin-top: 60px;
}

.service__img {
    margin-top: 60px;
    width: 1150px;
    height: 270px;
    padding-bottom: 15px;
}

.service__title {
    color: white;
    width: 800px;
    height: 41px;
}

.two_room_img {
    width: 1400px;
    height: 717px;
    background-image: url(../res/two_roomed_flat_designe.png);
    background-size: cover;
}

.two_room_txt_wrapper {
    position: relative;
    color: white;
    width: 443px;
    height: 82px;
    bottom: 30px;
    top: 575px;
    left: 143px;
}

.contacts {
    width: 1140px;
    height: 553px;
    color: white;
}

.phone {
    margin-left: 125px;
    margin-top: 150px;
    padding-bottom: 12px;
}

.number {
    color: black;
    margin-left: 125px;
    padding-bottom: 32px;
}

.num {
    color: black;
    margin-left: 128px;
    padding-bottom: 30px;
}

.mail {
    color: grey;
    text-decoration-line: underline;
    margin-left: 128px;
}

